@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F4EEE0;
}
.head span {
  padding: 15px;
  border-radius: 10px;
  color: #F4EEE0;
  background: #393646;
}
.head .form .procurar {
  width: 250px;
  height: 40px;
  text-align: center;
  border: 2px solid #635985;
  color: #F4EEE0;
  background: #393646;
}
.head .btn-submit {
  width: 30px;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  border: none;
  background: none;
}
.head button {
  padding: 5px;
  background: transparent;
  border: solid 3px #393646;
  border-radius: 0.5rem;
  font-weight: bold;
  width: 4rem;
  cursor: pointer;
}
.head:hover {
  color: #635985;
}
.head nav {
  display: none;
}
.head .menu-active {
  display: block;
}
.head .menu__nav ul {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  align-items: stretch;
  gap: 1rem;
  border: solid 2px #393646;
  border-radius: 5px;
  background: #393646;
}
.head .menu__nav ul li {
  list-style: none;
  padding: 0.3rem 1rem;
}
.head .menu__nav ul li:hover {
  background: #635985;
}
.head .menu__nav ul li a {
  text-decoration: none;
  color: #F4EEE0;
}
.head .menu__nav ul li a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background: #D5CEA3;
}
main p {
  font-size: 16px;
}
main .btn-modal {
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  background: #393646;
  color: #F4EEE0;
  transition: filter 0.2s;
  padding: 1rem 2rem;
  cursor: pointer;
}

.modal {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  width: 600px;
  margin-top: 280px;
}
.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.modal .modal-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #393646;
}
.modal .modal-header .btn-fechar {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: circle();
          clip-path: circle();
  padding: 5px;
  aspect-ratio: 1/1;
  cursor: pointer;
  font-size: 30px;
  color: #F4EEE0;
  background: #393646;
}
.modal .modal-header .btn-fechar:hover, .modal .modal-header .btn-fechar:focus,
.modal .modal-header .btn-fechar button:hover,
.modal .modal-header .btn-fechar button:focus {
  filter: brightness(1.2);
}
.modal p {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #635985;
}
.modal form {
  width: 50%;
  margin: 0 auto;
}
.modal form label {
  font-size: 1.2rem;
  font-weight: 300;
  color: #393646;
}
.modal form input {
  width: 56%;
  height: 20px;
  border: 2.5px solid #393646;
  text-align: center;
  color: #F4EEE0;
}
.modal form button {
  height: 20px;
  width: 22%;
  text-transform: uppercase;
  border: 2.5px solid #393646;
  color: #F4EEE0;
  background: #393646;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=style.css.map */